body {
    background-color: #2F3035;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    background-color: cornflowerblue;
    height: 118px;
}

nav {
    background-color: red;
    height: 40px;
}

main {
    background-color: orange;
    height: 400px;
}

footer {
    background-color: green;
    height: 100px;
    
}

