header {
    background-color: cornflowerblue;
    height: 118px;
    width: 1024px;
}

nav {
    background-color: red;
    height: 40px;
    width: 1024px;
}

main {
    background-color: orange;
    height: 400px;
    width: 1024px;
}

footer {
    background-color: green;
    height: 100px;
    width: 1024px;
}